<mat-expansion-panel *ngFor="let partner of partners">
  <!-- header prvog expendable    -->
  <mat-expansion-panel-header>
        <mat-panel-title>
            {{partner.name}}
        </mat-panel-title>
        <mat-panel-description>
            Opis
        </mat-panel-description>
    </mat-expansion-panel-header>
  <!-- body prvog expendable -->
    <mat-expansion-panel *ngFor="let order of partner.orders">
      <!-- header drugog expendable -->
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{order.id}}
          </mat-panel-title>
          <mat-panel-description>
              {{order.date}}
          </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- body drugog expendable -->
      <table mat-table [dataSource]="order.data" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
</mat-expansion-panel>